.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  //margin-bottom: 24px;
  padding: 30px;
  border-radius: $radius;
  //flex-basis: 19.584%;
  border: 1px solid transparent;
  @include transition;

  &:hover {
    border-color: #e9e9e9;
  }

  &_add {
    align-items: center;
    justify-content: center;
    border: 2px dashed #e9e9e9;

    &:hover {
      border-color: #b9b9b9;
    }
  }

  &__wrapper {
    display: none;
    //grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 342px);
    grid-gap: 1.4vw;
    padding-bottom: 61px;
    //display: flex;
    //justify-content: space-between;
    //flex-wrap: wrap;

    &.grid.show {
      display: grid;
    }
  }

  &__header {
    @include flex-center();
    padding-bottom: 29px;
    border-bottom: 1px solid #e9e9e9;
  }

  &__header-icon-container {
    position: relative;
    width: 42px;
    height: 42px;
    background-color: #7557e5;
    margin-right: 22px;
    color: #ffffff;
    border-radius: 8px;
  }

  &__header-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:before {
      font-size: 18px;
    }
  }

  &__header-title {
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: bold;
    color: $black;
  }

  &__date {
    font-size: 13px;
    color: #bababa;
  }

  &__header-icon-mes {
    display: none;
    position: absolute;
    top: -12px;
    left: -10px;
    line-height: 1;
    text-align: center;
    padding: 5px 0;
    width: 24px;
    height: 24px;
    background-color: #f8b923;
    border-radius: 50%;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    border: 2px solid #fff;

    &.unread {
      display: block;
    }
  }

  &__content {
    margin-bottom: 24px;
  }

  &__content-header {
    @include flex-center(space-between);
    margin: 31px 0 24px;
  }

  &__view-all {
    @include font(13px, 500);
    color: #b1b1b1;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &__title {
    @include font(14px, 500);
    color: #6a6a6a;
  }

  &__description {
    display: none;
    margin-top: 4px;
    font-size: 13px;
    color: #aeaeae;
  }

  &__content-item {
    display: block;
    position: relative;
    background-color: #ffffff;
    padding: 14px 20px;
    margin-bottom: 6px;
    border-radius: 8px;
    border: 1px solid transparent;
    @include transition;

    &:hover {
      border: 1px solid #e9e9e9;

      .card__response-title {
        color: $clear-blue;
      }
    }

    &.unread:before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      top: -3px;
      left: -3px;
      border: solid 3px #f9f9f9;
      background-color: #f8b923;
      border-radius: 50%;
    }
  }

  &__response-title {
    @include font(15px, 500);
    margin-bottom: 4px;
    @include transition
  }

  &__content-file {
    display: none;
    position: absolute;
    right: 14px;
    bottom: 12px;
    color: #c6c6c6;

    &:before {
      font-size: 13px;
    }
  }

  &__no-responses {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #eaeaea;

    &:before {
      font-size: 51px;
    }
  }



  &__footer {
    @include flex-center(space-between);
    padding-top: 23px;
    border-top: 1px solid #e9e9e9;
    margin-top: auto;
  }

  &__add-content {
    display: flex;
    justify-content: center;
    text-align: center;

    button {
      @include font(14px, 500);
      position: relative;
      color: #cecece;
      text-decoration: underline;
      @include transition;

      &:before {
        position: absolute;
        top: -58px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        background: #eaeaea;
        padding: 11px;
        font-size: 19px;
        border-radius: 8px;
        @include transition;
      }

      &:hover {
        color: $black;

        &:before {
          background: #b1b1b1;
        }
      }
    }

  }
}

.card__content-item.file {
  .card__content-file {
    display: block;
  }
}

.card__content.no-responses {
  .card__content-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .card__description,
  .card__no-responses {
    display: block;
  }
}

.card-list {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-bottom: 6px;
  padding: 29px 30px;
  border: 1px solid transparent;
  @include transition;

  &:hover {
    border-color: #e9e9e9;
  }

  &_add {
    border: 2px dashed #e9e9e9;

    &:hover {
      border-color: #b9b9b9;
    }
  }

  &__wrapper {
    display: none;
    margin-bottom: 60px;
    padding-bottom: 30px;

    &.list.show {
      display: block;
    }
  }

  &__header {
    @include flex-center();
    border-right: 1px solid #e9e9e9;
    flex-basis: 30%;

  }

  &__header-icon-container {
    position: relative;
    width: 42px;
    height: 42px;
    background-color: #7557e5;
    margin-right: 22px;
    color: #ffffff;
    border-radius: 8px;
  }

  &__header-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:before {
      font-size: 18px;
    }
  }

  &__header-title {
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: bold;
    color: $black;
  }

  &__date {
    font-size: 13px;
    color: #bababa;
  }

  &__header-icon-mes {
    display: none;
    position: absolute;
    top: -12px;
    left: -10px;
    line-height: 1;
    text-align: center;
    padding: 5px 0;
    width: 24px;
    height: 24px;
    background-color: #f8b923;
    border-radius: 50%;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    border: 2px solid #fff;

    &.unread {
      display: block;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 54%;
    margin-left: 30px;
  }

  &__content-item {
    display: flex;
    align-items: center;
    position: relative;
    @include transition;

    &:hover {
      .card-list__response-title {
        color: $clear-blue;
      }
    }

    &.unread:before {
      content: '';
      position: relative;
      width: 10px;
      height: 10px;
      top: 1px;
      left: -3px;
      margin-right: 6px;
      border: solid 3px #f9f9f9;
      background-color: #f8b923;
      border-radius: 50%;
    }
  }

  &__content-file {
    display: none;
    margin-left: 10px;
    color: #c6c6c6;
    line-height: 1;

    &:before {
      font-size: 13px;
    }
  }

  &__title {
    @include font(14px, 500);
    color: #6a6a6a;
    margin-bottom: 8px;
  }

  &__view-all {
    @include font(13px, 500);
    color: #b1b1b1;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &__response-title {
    @include font(15px, 500);
    @include transition;
    margin-right: 15px;
  }

  &__footer {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__description {
    display: none;
    margin-top: 4px;
    font-size: 13px;
    color: #aeaeae;
  }

  &__add-content {
    @include font(14px, 500);
    display: block;
    width: 100%;
    position: relative;
    padding: 12px 0;
    color: #cecece;
    text-decoration: underline;
    @include transition;

    &:before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      color: #fff;
      background: #eaeaea;
      padding: 11px;
      font-size: 19px;
      border-radius: 8px;
      @include transition;
    }

    &:hover {
      color: $black;

      &:before {
        background: #b1b1b1;
      }
    }

  }
}

.card-list__content-item.file {
  .card-list__content-file {
    display: block;
  }
}

.card-list__content.no-responses {
  .card-list__content-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .card-list__description,
  .card-list__no-responses {
    display: block;
  }
}

.card-settings {

  &__wrapper {
    position: relative;
    top: -3px;
    padding-top: 6px;

    &:hover {
      .card-settings__block {
        visibility: visible;
        opacity: 1;
      }
      .btn-icon {
        background-color: #e8e8e8;
        color: #363636;
      }
    }
  }

  &__block {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 37px;
    right: 0;
    width: 160px;
    background-color: rgba(30, 30, 30, 0.96);
    padding: 15px 10px;
    border-radius: 6px;
    color: #b1b1b1;
    z-index: 10;
    @include transition;
  }

  &__item {
    position: relative;
    display: block;
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 10px 8px 36px;
    border-radius: 6px;
    @include transition;

    &:before {
      content: '';
      position: absolute;
      width: 16px;
      height: 12px;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &_preview:before{
      background-image: url("../images/eye-icon.svg");
    }

    &_archive:before{
      background-image: url("../images/archive.svg");
    }

    &_edit:before{
      background-image: url("../images/edit.svg");
    }

    &_duplicate:before{
      background-image: url("../images/duplicate.svg");
    }

    &:hover {
      background-color: #363636;
      color: #fff;
    }
  }
}

.card-list__footer {
  .card-settings__wrapper {
    margin-left: 20px;
  }
}