[data-tooltip]::after {
  @include font(12px, 500);
  @include transition;
  content: attr(data-tooltip);
  opacity: 0;
  pointer-events: none;
  font-family: 'Roboto', sans-serif;

  position: absolute;
  width: max-content;
  top: 20px;
  left: 51px;
  background-color: #363636;
  padding: 8px 10px;
  border-radius: 6px;
  color: #ffffff;
  z-index: 1;
}


[data-tooltip]:hover::after {
  opacity: 1;
}

.editor-template {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding-top: 80px;

  &.show {
    @include flex(normal, center);
  }

  &__wrapper {
    width: 1074px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin-top: 60px;
  }

  &__item {
    @include font(14px, 400);
    @include transition;
    padding: 30px;
    color: #606060;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: #f9f9f9;
    }

    &:nth-child(1){
      .editor-template__title-icon {
        background-color: #2285fc;
      }
    }

    &:nth-child(2){
      .editor-template__title-icon {
        background-color: #fd7d57;
      }
    }

    &:nth-child(3){
      .editor-template__title-icon {
        background-color: #39c776;
      }
    }

    &:nth-child(4){
      .editor-template__title-icon {
        background-color: #22d0fc;
      }
    }

    &:nth-child(5){
      .editor-template__title-icon {
        background-color: #fdab57;
      }
    }

    &:nth-child(6){
      .editor-template__title-icon {
        background-color: #e84f4f;
      }
    }

    &:nth-child(7){
      .editor-template__title-icon {
        background-color: #eb67d0;
      }
    }

    &:nth-child(8){
      .editor-template__title-icon {
        background-color: #7557e5;
      }
    }

    &:nth-child(9){
      .editor-template__title-icon {
        background-color: #6875e2;
      }
    }
  }

  &__title {
    @include flex(center);
    margin-bottom: 20px;

    h2 {
      @include font(18px, bold);
      color: #363636;
    }
  }

  &__title-icon {
    @include flex(center, center);
    width: 42px;
    height: 42px;
    margin-right: 24px;
    border-radius: 8px;
    color: #ffffff;
  }

  &__close-btn {
    @include transition;
    @include flex(center, center);
    position: absolute;
    width: 30px;
    height: 30px;
    top: 40px;
    right: 40px;
    border-radius: 50%;
    background-color: #e5e5e5;
    color: #363636;
    transform: rotate(45deg);
    font-size: 10px;
    cursor: pointer;

    &:hover {
      background-color: darken(#e8e8e8, 10%);
    }
  }
}

.editor {
  @include flex();
  margin-top: 40px;

  &__wrapper {
    @include flex();
    padding-left: 60px;
  }
}

//menu editor
.editor-menu {
  width: 81px;
  height: 85.5vh;
  padding: 0 20px;
  border-right: 1px solid #ececec;

  &__list {
    &:first-child {
      margin-bottom: 6px;
      border-bottom: 1px solid #d8d8d8;
    }
  }

  &__item {
    @include transition;
    position: relative;
    width: 40px;
    height: 40px;
    margin-bottom: 6px;
    padding: 12px;
    border-radius: 8px;
    color: #363636;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
    }

    .font-icon:after,
    .font-icon:before {
      padding: 0;
      color: #363636;
    }
  }
}

//editor panel. use for component panel and settings panel

.editor-panel {
  display: none;
}

.constructor {
  width: 580px;

  &__page-title {
    @include font(32px, 900);
    line-height: 1;
  }

  &__page-description {
    @include font(14px, 400);
    margin-top: 12px;
  }

  .add-btn {
    @include transition;
    @include font(14px, 500);
    display: block;
    width: 100%;
    margin-top: 30px;
    padding: 21px 22px;
    color: #cecece;
    border: 2px dashed #e9e9e9;
    text-align: center;
    text-decoration: underline;
    border-radius: 10px;

    &:hover {
      color: #b9b9b9;
      border-color: #b9b9b9;
    }
  }
}

//constructor epic

.constructor {

  .flex {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__row {
    display: flex;
  }

  &__component {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: $radius;
    @include transition;

    &:hover {
      background-color: #f5f5f5;
      z-index: 20;

      .switch__container_action:after {
        border-bottom-color: transparent;
      }

      .constructor__component-settings {
        opacity: 1;
        visibility: visible;
      }
    }
    &.active {
      border-color: #fe544b;
    }
    &_actions {
      margin-bottom: 0;
    }
  }

  &__component-settings {
    @include transition;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 11px;
    z-index: 10;
    cursor: pointer;

    &:hover {
      z-index: 11;
    }
  }

  &__component-settings-content {
    .font-icon{
      @include transition;
      position: relative;
      margin-left: 14px;

       &:before {
         font-size: 14px;
         color: #b1b1b1;
       }

      &:hover {
        &:before {
          color: $black;
        }
      }
    }
  }

  &__dots-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background: #34384d;
    color: #9699ab;
    padding: 0;
    right: 0px;
    top: 30px;
    cursor: pointer;
    border-radius: $radius;
    border-top-right-radius: 0;

    &:before {
      content: '';
      position: absolute;
      background: #34384d;
      width: 33px;
      height: 30px;
      top: -30px;
      right: 0;
      border-radius: $radius;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__dots-link {
    background-repeat: no-repeat;
    background-position: 15px 47%;
    background-size: 18px;
    display: block;
    color: #9699ab;
    font-size: 14px;
    padding: 8px 40px 9px 40px;

    &_del {
      background-image: url("../images/del.svg");
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }
    &_duplicate {
      background-image: url("../images/duplicate-grey.svg");
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
    }
    &:hover {
      background-color: #3c3d4f;
      color: #fff;
    }
  }

  &__component-title {
    @include font(18px, 500);
    color: $black;
  }

  &__component-description {
    margin-top: 6px;
    font-size: 14px;
    color: #a4a5ab;
  }

  &__add-component {
    margin-top: 30px;
    padding: 14px;
    text-align: center;
    color: #fe544b;
    //@include font-title {
    //  font-size: 14px;
    //}
    border: 2px dashed #e0e1e3;
    cursor: pointer;
    @include transition;

    span {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        background-image: url("../images/add-component.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
        width: 18px;
        height: 18px;
        left: -27px;
      }
    }
    &:hover {
      border-color: #fe544b;
    }
    &_option {
      color: #9d9faa;
      border-color: #434456;

      &:hover {
        border-color: #ffffff;
      }
    }
  }

  &__submit-btn {
    border: none;
    outline: none;
    background-color: #2285fc;
    padding: 12px 30px;
    color: #ffffff;
    border-radius: 20px;
    cursor: pointer;
  }
  .custom__select {
    margin-top: 20px;
  }
  &__checkbox-container {
    margin-top: 11px;
  }
  &__radio-container {
    margin-bottom: 11px;
    margin-right: 40px;
  }
  .custom-checkbox {
    & + label {
      font-size: 16px;
    }
    &:checked + label:after {

    }
  }
}
.constructor__component {
  .btn__more {
    position: absolute;
    top: -4px;
    right: -1px;
    z-index: 5;
  }
}
.constructor__dots {
  &:hover {
    .constructor__dots-content {
      visibility: visible;
      opacity: 1;
    }
  }
}
.price_row {
  display: flex;
  flex-wrap: wrap;

  .constructor__price-container {
    width: 31.4%;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

    &:first-child {
      margin-top: 10px;
    }
    false {
      margin-right: 0;
    }
    .custom-radio + label {
      display: block;
      margin-top: 33px;
      padding-left: 0;

      &:before {
        top: -31px;
      }
    }
    .custom-radio:checked + label {
      &:after {
        top: -25px;
      }
    }
    .constructor__component-description {
      padding-left: 0;
      margin-top: 6px;
    }
    .price__price-block {
      top: 17px;
    }
  }
}
.constructor__price-container {
  position: relative;
  margin-top: 6px;
  padding: 16px 17px;
  border: 2px solid #e9ebec;
  border-radius: $radius;

  &:first-child {
    margin-top: 20px;
  }
  .constructor__radio-container {
    margin-bottom: 0;
  }
  .custom-radio + label {
    font-weight: 500;
    font-size: 14px;
    padding-left: 36px;
  }
  .constructor__component-description {
    padding-left: 36px;
    margin-top: 3px;
  }
  .price__price-block {
    color: #fe544b;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    top: 19px;
    right: 17px;
  }
}
