.filters-page {
  margin-top: 30px;

  &__wrapper {
    @include flex-center(space-between);
  }

  &__list {
    @include flex-center;
  }

  &__item {
    margin-right: 30px;

    &.active {
      .filters-page__link {
        color: $clear-blue;
        border-bottom-color: $clear-blue;
      }
    }
  }

  &__link {
    @include font(15px, 500);
    @include transition;
    padding-bottom: 10px;
    color: #6a6a6a;
    border-bottom: 2px solid transparent;

    &:hover {
      color: $clear-blue;
      border-bottom-color: $clear-blue;
    }
  }
}