::-webkit-input-placeholder {
  color: #8e8e8e;
}
::-moz-placeholder {
  color: #8e8e8e;
}
:-ms-input-placeholder {
  color: #8e8e8e;
}
:-moz-placeholder {
  color: #8e8e8e;
}

.input-default {
  @include font(16px, 400);
  position: relative;
  width: 100%;
  margin-top: 10px;
  padding: 13px 16px;
  color: #8e8e8e;
  border: solid 1px #e3e3e3;
  outline: none;
  border-radius: 8px;
  @include transition;

  //&_light {
  //  background-color: #f9faff;
  //  border-color: #dedfeb;
  //  color: #50525e;
  //  @include placeholder {
  //    color: #50525e;
  //  }
  //  &:focus {
  //    background-color: #fff;
  //    border-color: #bcbfce;
  //  }
  //}
  //&_dark {
  //  background-color: #3d3e4f;
  //  border-color: #3d3e4f;
  //  color: #fff;
  //
  //  &:hover {
  //    background-color: #454658;
  //    border-color: #454658;
  //  }
  //  &:focus {
  //    background-color: #4c4d60;
  //    border-color: #4c4d60;
  //  }
  //}
}

//checkbox
.custom-checkbox {
  @include font(16px, 400);
  position: absolute !important;
  opacity: 0 !important;

  & + label {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 31px;
    color: #50525e;
  }
  // Box.
  & + label:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border: solid 1px #d2d2d2;
    border-radius: 6px;
  }
  // Box checked
  &:checked + label {
    color: #fe544b;
  }
  &:checked + label:before {
    border-color: #fe544b;
  }
  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 8px;
    top: 7px;
    background: #fe544b;
    width: 4px;
    height: 4px;
  }
}
// end checkbox

// radio
.custom-radio {
  position: absolute !important;
  opacity: 0 !important;

  & + label {
    @include font(16px, 400);
    display: block;
    position: relative;
    cursor: pointer;
    padding: 0 20px 0 31px;
    color: #50525e;
  }
  // Box.
  & + label:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 18px;
    height: 18px;
    background: #fff;
    border: solid 1px #d2d2d2;
    border-radius: 50%;
  }
  // Box checked
  &:checked + label {
    color: #2285fc;
  }
  &:checked + label:before {
    border-color: #2285fc;
  }
  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 8px;
    top: 7px;
    background: #2285fc;
    width: 4px;
    height: 4px;
  }
  // end radio
}
