.menu-page {

  &__wrapper {
    @include flex-center(space-between);
  }

  &__item {
    @include flex-center();
  }

  &__button {
    @include transition;
    background-color: #d6e8ff;
    padding: 12px 25px 12px;
    border-radius: 20px;
    color: #2285fc;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;

    &:before {
      font-size: 12px;
      padding-right: 13px;
    }

    &:hover {
      background-color: $clear-blue;
      color: #ffffff;
    }
  }

  &__view {
    @include flex-center();
    margin-right: 49px;
  }
  &__view-item {
    @include transition;
    background-color: transparent;
    color: #b1b1b1;
    cursor: pointer;
    padding: 7px;
    border-radius: 6px;
    line-height: 1;

    &:hover {
      background-color: #e8e8e8;
      color: $black;
    }

    &:first-child {
      margin-right: 20px;
    }

    &.active {
      color: $clear-blue;

      &:hover {

      }
    }
  }
}

.title-page {
  font-size: 32px;
  font-weight: 900;
  color: $black;
}