@font-face {
    font-family: 'font-icon';
    src:  url('../fonts/icomoon/icomoon.eot?vfv7hr');
    src:  url('../fonts/icomoon/icomoon.eot?vfv7hr#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?vfv7hr') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?vfv7hr') format('woff'),
    url('../fonts/icomoon/icomoon.svg?vfv7hr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*='font-icon']::before,
[class*='font-icon']::after {
    font-size: 16px;
    display: inline-block;
    font-family: 'font-icon';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class*='font-icon']::after {
    padding-left: 10px;
}

.icon-arrow:before {
    content: "\e900";
}
.icon-arrow-a:after {
    content: "\e900";
}
.icon-del:before {
    content: "\e901";
}
.icon-icon-1:before {
    content: "\e902";
}
.icon-icon-2:before {
    content: "\e903";
}
.icon-icon-3:before {
    content: "\e904";
}
.icon-list:before {
    content: "\e905";
}
.icon-menu:before {
    content: "\e906";
}
.icon-plus:before {
    content: "\e907";
}
.icon-search:before {
    content: "\e908";
}
.icon-settings-b:before {
    content: "\e909";
}
.icon-settings:after {
    content: "\e909";
}
.icon-grid:before {
    content: "\e90a";
}
.icon-copies:before {
    content: "\e90b";
}
.icon-load-more:before {
    content: "\e90c";
    color: #c6c6c6;
}
.icon-amazon:before {
    content: "\e90d";
    color: #f7a80d;
}
.icon-archive:before {
    content: "\e90e";
    color: #b1b1b1;
}
.icon-date:before {
    content: "\e90f";
    color: #c6c6c6;
}
.icon-download:before {
    content: "\e910";
}
.icon-dropbox:before {
    content: "\e911";
    color: #0062ff;
}
.icon-edit:before {
    content: "\e912";
    color: #b1b1b1;
}
.icon-export:before {
    content: "\e913";
}
.icon-google-drive:before {
    content: "\e914";
    color: #4285f4;
}
.icon-eye:before {
    content: "\e915";
}
.icon-local:before {
    content: "\e916";
    color: #b1b1b1;
}

.icon-arrow-left:before {
    content: "\e917";
    color: #b1b1b1;
}
